*.log
*.m4
*.in
configure
configure~
*.status
criterion_tests*
*.cache
build-aux
Makefile
*.o
.deps
.dirstamp
stamp-h1
config.h
CnetworkingClient
CnetworkingServer
.gdb_history
config.h.in~
peda-session-criterion_tests_server.txt
